In [3]:
s = "Hi there Class!"
s.split()

['Hi', 'there', 'Class!']

In [5]:
planet = "Earth"
diameter = 12742

print(f"The diameter of {planet} is {diameter}")

The diameter of Earth is 12742

In [8]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [13]:
lst[3][1][2][0]

'hello'

In [22]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

d['k1'][3]['tricky'][3]['target'][3]
# if 'hello' in d.values():
#     print('yes')
# else:
#     print('no')

'hello'

In [ ]:
def func(domain):
    
func('user@domain.com')

In [26]:
def fun(word):
    if 'dog' in word:
        return True
fun('dofid dp dog')

True

In [28]:
def fun(word):
    return word.count('dog')
fun('dofid dp dog dog dog')

3

In [44]:
seq = ['soup','dog','salad','cat','great']
filtered_data=filter(lambda x:not x.startswith('s'),seq)

for i in filtered_data:
    print(i)

dog
cat
great

In [83]:
def caught_speeding(speed,birthday):
    if(birthday==True):
        speed=speed-5
    if(speed<=60): 
        return 'No Challan'
    elif(speed>=61 and speed<=80):
        return 'Small Challan'
    else: 
        return 'Heavy Challan'
caught_speeding(81,True)
caught_speeding(81,False)

'Heavy Challan'

In [87]:
# Concatenate two lists indexwise
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]

i=0
while(i<len(list1)):
    list1[i]=list1[i]+list2[i]
    i=i+1
list1

['My', 'name', 'is', 'Shelly']

In [79]:
# Concatenate two lists in the following order
# list1 = ["Hello ", "take "]
# list2 = ["Dear", "Sir"]
# Expected Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
for x in list1:
    for y in list2:
        list3.append(x+y)

# list3.clear()
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [63]:
# Q12. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2,7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [47]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[1]

20

In [61]:
#  Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
# bcz remove method only removes first occurence from string
while(20 in list1):
    list1.remove(20)
list1

[5, 15, 25, 50]

In [81]:
d1 = {'a': 100, 'b': 200, 'c': 300}
if(900 in d1.values()):
    print('yes')
else:
    print('no')

no

In [82]:
# Find the sum of the series 2 +22 + 222 + 2222 + .. n terms
s=0
i=1
n=10
for i in range(n):
    s+=int(str(s)+'2')
print(s)

5187484920